.DS_Store
.buildpath
.classpath
.phpunit.result.cache
.project
.settings
/logs/*
!/logs/.htaccess
/var/cache/*
!/var/cache/.htaccess
/var/sessions/*
!/var/sessions/.htaccess
/vendor/*
!/vendor/.htaccess
composer.lock